:root {
  /* Colors */
  --BACKGROUND_MAIN: #491011;
  --TEXT_WHITE: #ffffff;
  --TEXT_BROWN: #814518;

  --BUTTON_SOLID: #814518;
  --BUTTON_GRADIENT_START: #ff383c;
  --BUTTON_GRADIENT_END: #dd7325;

  --HOVER_GRADIENT_START: #e06c00;
  --HOVER_GRADIENT_END: #af1a1d;

  --BORDER_BROWN: #814518;
  --BORDER_RED: #af1a1d;

  /* Metrics */
  --SPACING-XS: 4px;
  --SPACING-SM: 8px;
  --SPACING-MD: 16px;
  --SPACING-LG: 24px;
  --SPACING-XL: 32px;

  --RADIUS-BUTTON: 12px;
  --RADIUS-CARD: 16px;
  --RADIUS-INPUT: 8px;

  --BORDER-THIN: 1px;
  --BORDER-NORMAL: 2px;
  --BORDER-THICK: 4px;

  --SIZING-HEADING: 56px;
  --SIZING-SUBHEADING: 40px;
  --SIZING-PARAGRAPH: 20px;
  --SIZING-CAPTION: 14px;
}
