.actionArea {
    background-color: #80808013;
    padding: var(--SPACING-XS);
    width: 300px;

    display: flex;
    align-items: center;
    margin: 10px;

    border-radius: var(--RADIUS-CARD);
}
.addNewProducts {
    background: #287628;
    padding: var(--SPACING-SM) var(--SPACING-MD);
    border-radius: var(--RADIUS-CARD);
}