.container {
    width: 50%;
    height: 400px;
    background: white;
    border-radius: var(--RADIUS-CARD);
    box-shadow: 0 2px 10px #00000014;
    padding: var(--SPACING-MD);
}

.totalStats {
    background-color: #8080801c;
    border-radius: var(--RADIUS-CARD);
    border: 1px var(--BORDER-BROWN);
    /* width: 50%; */
    padding: var(--SPACING-XS) var(--SPACING-MD);
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--SPACING-XS) + 10px);
}
.readings {
    font-weight: bold;
    font-style: italic;
    color: brown;
}

.readReviewsBtn {
    text-decoration: underline;
    color: #0f0f5c87;
    cursor: pointer;
}
.readReviewsBtn:hover {
    color: #121258;
}