.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--SPACING-LG);
  padding: var(--SPACING-XS) var(--SPACING-MD);
  /* border-radius: var(--RADIUS-CARD); */
  text-decoration: none;
  color: var(--TEXT_WHITE);
  transition: 0.3s ease;

  width: 100%;
  margin: 0;
}

.navLink:hover {
  background: #80808038;
}

.active {
  background:#9b9b9b60 ;
}

.iconWrapper {
  width: 24px;
  height: 24px;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text {
  font-size: var(--SIZING-CAPTION);
  font-weight: 500;
}
