*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background: url('../../../assets//images/page-not-found.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 70px;
    font-size: 18px;
    color: white;
    background-color: #038376;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background-color: #026a63;
}